.flex-r{
	margin-top: 8rem;
	min-width: 132rem;
	background-color:var(--bg-color-1)
}

.single-video-main{
	margin-left: 0rem;
	width: 85rem;
	padding: 0;
	/* background-color:aquamarine ; */
}

.right-container{
	padding: 0;
	width: 40rem;
	/* background-color: aqua; */
}


