.sidebar{
	position: fixed;
	top: 0.5rem;
	margin-left: 2rem;
	margin-top: 10rem;
	width: 13rem;
	background-color:var(--bg-color-1);
	max-height: 60rem;
	border-radius:1rem;
}

.sidebar-heading{
	font-size: 2rem;
	margin-left: 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 0rem;
	cursor: pointer;
	padding-top: 2rem;
	color: var(--text-color-1);
}
