.container-toast {
	list-style: none;
	position: fixed;
	bottom: 4rem;
	right: 0;
}

.text-toast {
	font-size: 1.5rem;
	margin-bottom: 0.7rem;
	width: 35rem;
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
	z-index: 4;
	color: var(--background-color);
	padding: 2rem 2rem;
	align-items: center;
}

.added {
	background-color: var(--green);
}

.removed {
	background-color: var(--red);
}
