main {
	top: 4rem;
}


.main-container {
	/* margin-top: 10rem; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.banner {
	width: 100%;
	max-height: 22rem;
}

.banner-button {
	position: absolute;
	top: 18rem;
	right: 15rem;
}

.home {
	min-height: 20rem;
	border-radius: 1.5rem;
	/* display: flex; */
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	background-color: var(--bg-color-1);
	background-size: cover;
}

.home .image {
	flex: 1 1 45rem;
}

.home .image img {
	width: 100%;
}

.home .content {
	flex: 1 1 45rem;
}

.home .content h3 {
	color: black;
	font-size: 4rem;
	background-color: var(--bg-color-1);
	display: inline;
	padding: 0.2rem;
	border-radius: 0.5rem;
}

.home .content p {
	color: black;
	background-color: var(--bg-color-1);
	font-size: 1.7rem;
	font-weight: 300;
	line-height: 1.7;
	padding: 0 1rem 0 1rem;
	margin-top: 0.2rem;
	border-radius: 0.5rem;
	width: 60%;
}

.category {
	margin: 1rem;
}

.image {
	margin-bottom: 3rem;
}

.content {
	display: flex;
	flex-direction: row;
	margin-top: 11rem;
	right: 0rem;
}



.category-filter {
	position: absolute;
	top: -6rem;
}
